body {
  background: #ffffff;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 150vh;

  flex-direction: column;
}

* {
  font-family: cursive;

  box-sizing: padding-box;
}

form {
  width: 1000px;

  border: 3px solid rgb(177, 142, 142);

  padding: 20px;

  background: #c70101;

  border-radius: 20px;
}

h2 {
  text-align: center;

  margin-bottom: 40px;
}

input {
  display: block;

  border: 2px solid #ccc;

  width: 95%;

  padding: 10px;

  margin: 10px auto;

  border-radius: 5px;
}

label {
  color: #ffffff;

  font-size: 18px;

  padding: 10px;
}

button {
  float: right;

  background: rgb(35, 174, 202);

  padding: 10px 15px;

  color: #fff;

  border-radius: 5px;

  margin-right: 10px;

  border: none;
}

button:hover {
  opacity: 0.1;
}

.error {
  background: #f2dede;

  color: #0c0101;

  padding: 10px;

  width: 95%;

  border-radius: 5px;

  margin: 20px auto;
}

.error-messagge p {
  margin-left: 5%;
}

h1 {
  text-align: center;

  color: #ffffff;
}

a {
  float: right;

  background: rgb(183, 225, 233);

  padding: 10px 15px;

  color: #fff;

  border-radius: 10px;

  margin-right: 10px;

  border: none;

  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

/* Media Queries */
/* Laptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  form {
    width: 600px;

    border: 3px solid rgb(177, 142, 142);

    padding: 20px;

    background: #c70101;

    border-radius: 20px;
  }
}
/* Tablet */

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  form {
    width: 400px;

    border: 3px solid rgb(177, 142, 142);

    padding: 20px;

    background: #c70101;

    border-radius: 20px;
  }

  .success_message {
    position: absolute;
    top: 10px;
    right: 10px;
    /* background-color: #4CAF50;  */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: none; /* Initially hide the success message */
  }
}
/* Mobile */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  form {
    width: 300px;
    /* height: 200px;; */
    border: 3px solid rgb(177, 142, 142);

    padding: 20px;

    background: #c70101;

    border-radius: 20px;
  }

  body {
    font-family: Arial, sans-serif;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
  }

  #file-label {
    margin-left: 10px;
  }

  #selected-file {
    margin-top: 10px;
  }
}
